/* @group import */
/* @end */
/* @group global var */
/* @end */
/* @group Font */
@font-face {
  font-family: 'lato-bold';
  src: url('../fonts/Lato-Bol.eot');
  src: url('../fonts/Lato-Bol.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-Bol.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-Bol.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Lato-Bol.svg#eea591db52cf6ebc8992abb7621b9256') format('svg');
  font-style: normal;
  font-weight: normal;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'lato-bold-italic';
  src: url('../fonts/Lato-BolIta.eot');
  src: url('../fonts/Lato-BolIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-BolIta.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-BolIta.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Lato-BolIta.svg#030f5996dac0d7b15fbd4081adedf95b') format('svg');
  font-style: normal;
  font-weight: normal;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'lato-hairline';
  src: url('../fonts/Lato-Hai.eot');
  src: url('../fonts/Lato-Hai.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-Hai.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-Hai.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Lato-Hai.svg#477d11e773543baa2ffc5ab40fca9623') format('svg');
  font-style: normal;
  font-weight: normal;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'lato-hairline-italic';
  src: url('../fonts/Lato-HaiIta.eot');
  src: url('../fonts/Lato-HaiIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-HaiIta.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-HaiIta.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Lato-HaiIta.svg#a326329371e687b71c219b7d91fb9255') format('svg');
  font-style: normal;
  font-weight: normal;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'lato-light';
  src: url('../fonts/Lato-Lig.eot');
  src: url('../fonts/Lato-Lig.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-Lig.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-Lig.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Lato-Lig.svg#80d8021909d835b751af094d043ad177') format('svg');
  font-style: normal;
  font-weight: normal;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'lato-light-italic';
  src: url('../fonts/Lato-LigIta.eot');
  src: url('../fonts/Lato-LigIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-LigIta.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-LigIta.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Lato-LigIta.svg#7015aa8810c4a9d1026a85e4ddcdf7a4') format('svg');
  font-style: normal;
  font-weight: normal;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/Lato-Reg.eot');
  src: url('../fonts/Lato-Reg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-Reg.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-Reg.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Lato-Reg.svg#48e70b8825d557df57af3e4f7d4c31be') format('svg');
  font-style: normal;
  font-weight: normal;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'lato-italic';
  src: url('../fonts/Lato-RegIta.eot');
  src: url('../fonts/Lato-RegIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-RegIta.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-RegIta.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Lato-RegIta.svg#51ac4eb0bc1817d276ca824c5353e08f') format('svg');
  font-style: normal;
  font-weight: normal;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'megalopolis';
  src: url('../fonts/megalopolisextra-webfont.eot');
  src: url('../fonts/megalopolisextra-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/megalopolisextra-webfont.woff') format('woff'), url('../fonts/megalopolisextra-webfont.ttf') format('truetype'), url('../fonts/megalopolisextra-webfont.svg#megalopolis_extraregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fioulreduc';
  src: url('../fonts/fioulreduc.eot?e76zua');
  src: url('../fonts/fioulreduc.eot?#iefixe76zua') format('embedded-opentype'), url('../fonts/fioulreduc.woff?e76zua') format('woff'), url('../fonts/fioulreduc.ttf?e76zua') format('truetype'), url('../fonts/fioulreduc.svg?e76zua#fioulreduc') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'fioulreduc';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-bottom:before {
  content: "\e600";
}
.icon-arrow-left:before {
  content: "\e601";
}
.icon-arrow-right:before {
  content: "\e602";
}
.icon-arrow-top:before {
  content: "\e603";
}
.icon-fleche-rond:before {
  content: "\e604";
}
.icon-icon-plus:before {
  content: "\e605";
}
.icon-maison:before {
  content: "\e606";
}
.icon-play:before {
  content: "\e607";
}
.icon-sousligne:before {
  content: "\e608";
}
/* @end */
/* @group Boilerplate */
html,
button,
input,
select,
textarea {
  color: #232323;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
/* @end */
/* @group Mes styles */
/* @group General */
/* selection */
::-moz-selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}
html,
body {
  font-family: 'lato', sans-serif;
  font-weight: normal;
  font-size: 1em;
  text-rendering: optimizeLegibility;
  background: #ffffff;
  position: relative;
}
.container {
  display: block;
  position: relative;
  width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 0;
}
.bloc-full {
  display: block;
  width: 100%;
  height: auto;
}
.bloc-blanc {
  background-color: #ffffff;
}
.bloc-gris {
  background-color: #ebeef2;
}
.bloc-degrade-bleu {
  background-color: #071d63;
  background-image: 8121991;
  background-image: -webkit-radial-gradient(65% 50%, 800px 800px, #457db7 0%, #071d63 100%);
  background-image: -moz-radial-gradient(65% 50%, 800px 800px, #457db7 0%, #071d63 100%);
  background-image: -o-radial-gradient(65% 50%, 800px 800px, #457db7 0%, #071d63 100%);
  background-image: radial-gradient(65% 50%, 800px 800px, #457db7 0%, #071d63 100%);
  color: #ffffff;
}
.grille {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../layoutImg/grille.png') repeat left top;
  zoom: 1;
  filter: alpha(opacity=2);
  -webkit-opacity: 0.02;
  -moz-opacity: 0.02;
  opacity: 0.02;
}
h2 {
  font-family: 'lato-bold', sans-serif;
  font-weight: normal;
  font-size: 1.375em;
  text-rendering: optimizeLegibility;
  color: #2947a0;
  border-bottom: 1px solid #c0c2cc;
  margin: 0 0 30px 0;
  padding: 0 0 10px 0;
}
ol.liste-num {
  list-style-type: none;
  counter-reset: li-counter;
}
ol.liste-num li {
  display: block;
  position: relative;
  margin: 0 0 15px 0;
  padding: 3px 0 0 35px;
  font-family: 'lato-italic', sans-serif;
  font-weight: normal;
  font-size: 1.063em;
  text-rendering: optimizeLegibility;
}
ol.liste-num li:before {
  content: counter(li-counter);
  counter-increment: li-counter;
  display: block;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  background: #ffffff;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  position: absolute;
  top: 0;
  left: 0;
  color: #438ee4;
  font-family: 'lato-bold-italic', sans-serif;
  font-weight: normal;
  font-size: 1em;
  text-rendering: optimizeLegibility;
}
ol.liste-num li .detail-liste {
  font-family: 'lato', sans-serif;
  font-weight: normal;
  font-size: 0.824em;
  text-rendering: optimizeLegibility;
  color: #bad4e2;
}
/* @group Header */
/* Pour ouvrir les dropdown au survol */
header {
  height: 54px;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.08);
  -moz-box-shadow: 0 2px 0 rgba(0,0,0,.08);
  box-shadow: 0 2px 0 rgba(0,0,0,.08);
  z-index: 3;
}
nav.navbar {
  display: block;
  width: 100%;
  height: 54px;
  margin: 0;
  padding: 0;
}
nav.navbar ul.nav {
  margin: 0;
  padding: 0;
}
nav.navbar ul.nav li {
  padding: 0 30px;
}
nav.navbar ul.nav li.first {
  padding: 0 20px 0 0;
}
nav.navbar ul.nav li.last {
  padding: 0 0 0 30px;
}
nav.navbar ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}
nav.navbar ul.nav li a {
  font-family: 'lato-bold', sans-serif;
  font-weight: normal;
  font-size: 0.75em;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  color: #373a3f;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}
a.logo {
  display: inline-block;
  vertical-align: top;
  width: 309px;
  height: 38px;
  margin: 5px 0 0 38px;
  padding: 0;
  background: url('../layoutImg/logo-bleu-orange.png') no-repeat left top;
}
.bloc-degrade-bleu a.logo {
  background: url('../layoutImg/logo-blanc-orange.png') no-repeat left top;
}
/* @end */
/* @group Top bar */
#top-bar {
  display: block;
  width: 100%;
  height: 60px;
  padding: 0;
  margin: 0;
}
ul#menu-top-bar {
  display: block;
  list-style: none;
  float: right;
  width: 800px;
  text-align: right;
}
ul#menu-top-bar li {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 0 0 0 50px;
  padding: 0;
}
ul#menu-top-bar li a {
  font-family: 'lato-bold', sans-serif;
  font-weight: normal;
  font-size: 1.375em;
  text-rendering: optimizeLegibility;
  color: #2947a0;
}
ul#menu-top-bar li a .illus-menu {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0 16px 0 0;
  padding: 0;
  width: 56px;
  height: 56px;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  background: #ffffff;
}
ul#menu-top-bar li a .illus-menu .visu-menu {
  display: block;
  position: absolute;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
ul#menu-top-bar li a .illus-menu .visu-menu.mascotte {
  width: 55px;
  height: 56px;
  background: url('../layoutImg/illus-menu/mascotte.png') no-repeat center center;
  bottom: 3px;
  left: 4px;
  -webkit-transform-origin: 45% 55%;
  -moz-transform-origin: 45% 55%;
  -ms-transform-origin: 45% 55%;
  -o-transform-origin: 45% 55%;
  transform-origin: 45% 55%;
}
ul#menu-top-bar li a .illus-menu .visu-menu.adresse {
  width: 56px;
  height: 49px;
  background: url('../layoutImg/illus-menu/adresse.png') no-repeat center center;
  bottom: 3px;
  left: 3px;
  -webkit-transform-origin: 41% 52%;
  -moz-transform-origin: 41% 52%;
  -ms-transform-origin: 41% 52%;
  -o-transform-origin: 41% 52%;
  transform-origin: 41% 52%;
}
ul#menu-top-bar li a .illus-menu .visu-menu.cadenas {
  width: 40px;
  height: 49px;
  background: url('../layoutImg/illus-menu/cadenas.png') no-repeat center center;
  bottom: 3px;
  left: 9px;
  -webkit-transform-origin: 45% 53%;
  -moz-transform-origin: 45% 53%;
  -ms-transform-origin: 45% 53%;
  -o-transform-origin: 45% 53%;
  transform-origin: 45% 53%;
}
ul#menu-top-bar li a:hover .visu-menu {
  -webkit-transform: rotate(10deg) translate3d(0, 0, 0);
  -moz-transform: rotate(10deg) translate3d(0, 0, 0);
  -ms-transform: rotate(10deg) translate3d(0, 0, 0);
  -o-transform: rotate(10deg) translate3d(0, 0, 0);
  transform: rotate(10deg) translate3d(0, 0, 0);
}
ul#menu-top-bar li a .zone-texte-menu {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 10px 0 0 0;
}
ul#menu-top-bar li a .zone-texte-menu .indic-menu {
  display: inline-block;
  font-family: 'lato-italic', sans-serif;
  font-weight: normal;
  font-size: 0.682em;
  text-rendering: optimizeLegibility;
  color: #fb8206;
  line-height: 1.1em;
}
ul#menu-top-bar li a .zone-texte-menu .indic-menu.underline {
  border-bottom: 1px solid #fb8206;
}
.bloc-degrade-bleu ul#menu-top-bar li a .zone-texte-menu {
  color: #ffffff;
}
.bloc-degrade-bleu ul#menu-top-bar li a .zone-texte-menu .indic-menu {
  color: #ffcb00;
}
.bloc-degrade-bleu ul#menu-top-bar li a .zone-texte-menu .indic-menu.underline {
  border-bottom-color: #ffcb00;
}
/* @end */
/* @group Top home */
#top-home {
  padding: 100px 0 125px 0;
}
/* @end */
/* @group Bloc Commande / Graph */
#bloc-commande-graph {
  display: block;
  margin: 0;
  padding: 50px 0 0 0;
}
.part-commande {
  display: inline-block;
  vertical-align: top;
  width: 428px;
  position: relative;
}
.part-commande #bloc-commande {
  display: block;
  width: 100%;
  padding: 20px 40px;
  -webkit-border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 6px;
  -moz-background-clip: padding;
  border-radius: 6px;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}
.part-commande #bloc-commande h2 {
  width: 75%;
}
.part-commande ol.liste-num {
  margin: 282px 0 0 0;
}
/* @end */
/* @end */
/* @end */
/* @group Non semantic Boilerplate */
/* remplacement image */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
/* masquage de texte, alternative (buggé?) */
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/* masqué */
.hidden {
  display: none !important;
  visibility: hidden;
}
/* masqué juste sur l'écran (pas sur RSS ou moteurs) */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/* @end */
/* ==|== media queries ======================================================
   ========================================================================== */
/* mes resolutions responsives "classiques" */
/* retina */
/* ==|== print styles =======================================================
   ========================================================================== */
@media print {
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
