/* @group import */
/* @end */
/* @group global var */
/* @end */
/* @group Font */
@font-face {
  font-family: 'lato-bold';
  src: url('../fonts/Lato-Bol.eot');
  src: url('../fonts/Lato-Bol.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-Bol.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-Bol.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Lato-Bol.svg#eea591db52cf6ebc8992abb7621b9256') format('svg');
  font-style: normal;
  font-weight: normal;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'lato-bold-italic';
  src: url('../fonts/Lato-BolIta.eot');
  src: url('../fonts/Lato-BolIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-BolIta.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-BolIta.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Lato-BolIta.svg#030f5996dac0d7b15fbd4081adedf95b') format('svg');
  font-style: normal;
  font-weight: normal;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'lato-hairline';
  src: url('../fonts/Lato-Hai.eot');
  src: url('../fonts/Lato-Hai.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-Hai.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-Hai.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Lato-Hai.svg#477d11e773543baa2ffc5ab40fca9623') format('svg');
  font-style: normal;
  font-weight: normal;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'lato-hairline-italic';
  src: url('../fonts/Lato-HaiIta.eot');
  src: url('../fonts/Lato-HaiIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-HaiIta.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-HaiIta.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Lato-HaiIta.svg#a326329371e687b71c219b7d91fb9255') format('svg');
  font-style: normal;
  font-weight: normal;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'lato-light';
  src: url('../fonts/Lato-Lig.eot');
  src: url('../fonts/Lato-Lig.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-Lig.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-Lig.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Lato-Lig.svg#80d8021909d835b751af094d043ad177') format('svg');
  font-style: normal;
  font-weight: normal;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'lato-light-italic';
  src: url('../fonts/Lato-LigIta.eot');
  src: url('../fonts/Lato-LigIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-LigIta.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-LigIta.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Lato-LigIta.svg#7015aa8810c4a9d1026a85e4ddcdf7a4') format('svg');
  font-style: normal;
  font-weight: normal;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/Lato-Reg.eot');
  src: url('../fonts/Lato-Reg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-Reg.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-Reg.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Lato-Reg.svg#48e70b8825d557df57af3e4f7d4c31be') format('svg');
  font-style: normal;
  font-weight: normal;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'lato-italic';
  src: url('../fonts/Lato-RegIta.eot');
  src: url('../fonts/Lato-RegIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-RegIta.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-RegIta.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Lato-RegIta.svg#51ac4eb0bc1817d276ca824c5353e08f') format('svg');
  font-style: normal;
  font-weight: normal;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'megalopolis';
  src: url('../fonts/megalopolisextra-webfont.eot');
  src: url('../fonts/megalopolisextra-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/megalopolisextra-webfont.woff') format('woff'), url('../fonts/megalopolisextra-webfont.ttf') format('truetype'), url('../fonts/megalopolisextra-webfont.svg#megalopolis_extraregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* @end */
/* @group Boilerplate */
html,
button,
input,
select,
textarea {
  color: #232323;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
/* @end */
/* @group Mes styles */
/* @group General */
/* selection */
::-moz-selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}
/* @end */
/* @end */
/* @group Non semantic Boilerplate */
/* remplacement image */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
/* masquage de texte, alternative (buggé?) */
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/* masqué */
.hidden {
  display: none !important;
  visibility: hidden;
}
/* masqué juste sur l'écran (pas sur RSS ou moteurs) */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/* @end */
/* ==|== media queries ======================================================
   ========================================================================== */
/* mes resolutions responsives "classiques" */
/* retina */
/* ==|== print styles =======================================================
   ========================================================================== */
@media print {
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
