/* @group import */
/* @end */
/* @group Bloc cycle */
#bloc-cycle {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  width: 70%;
  float: left;
}
#bloc-etapes-cycle ul#etapes-cycle {
  display: block;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 0;
}
#bloc-etapes-cycle ul#etapes-cycle li.etape-cycle {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 0;
  padding: 0;
}
#bloc-etapes-cycle ul#etapes-cycle li.etape-cycle.active .bloc-titre-etape {
  background-color: #2947a0;
  color: #ffffff;
}
#bloc-etapes-cycle ul#etapes-cycle li.etape-cycle.active .bloc-titre-etape:after {
  background-color: #2947a0;
}
#bloc-etapes-cycle ul#etapes-cycle li.etape-cycle.active .bloc-num-etape .num-etape {
  background-color: #2947a0;
}
#bloc-etapes-cycle ul#etapes-cycle li.etape-cycle .bloc-titre-etape {
  display: block;
  width: 90%;
  height: auto;
  margin: 0 auto 27px auto;
  padding: 12px;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #cccdd3;
  font-family: 'lato', sans-serif;
  font-weight: normal;
  font-size: 0.938em;
  text-rendering: optimizeLegibility;
  position: relative;
}
#bloc-etapes-cycle ul#etapes-cycle li.etape-cycle .bloc-titre-etape:after {
  content: "";
  display: block;
  width: 2px;
  height: 18px;
  background-color: #ffffff;
  position: absolute;
  bottom: -18px;
  left: 50%;
  margin-left: -1px;
}
#bloc-etapes-cycle ul#etapes-cycle li.etape-cycle .bloc-titre-etape .titre-etape {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
#bloc-etapes-cycle ul#etapes-cycle li.etape-cycle .bloc-num-etape {
  display: block;
  text-align: center;
  width: 100%;
  height: 32px;
  position: relative;
}
#bloc-etapes-cycle ul#etapes-cycle li.etape-cycle .bloc-num-etape .num-etape {
  display: block;
  line-height: 32px;
  width: 32px;
  height: 100%;
  background-color: #cccdd3;
  color: #ffffff;
  font-family: 'lato-italic', sans-serif;
  font-weight: normal;
  font-size: 0.938em;
  text-rendering: optimizeLegibility;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
#bloc-etapes-cycle ul#etapes-cycle li.etape-cycle .bloc-num-etape.first:before {
  display: none;
}
#bloc-etapes-cycle ul#etapes-cycle li.etape-cycle .bloc-num-etape.last:after {
  display: none;
}
#bloc-etapes-cycle ul#etapes-cycle li.etape-cycle .bloc-num-etape:before {
  content: "";
  display: block;
  width: 50%;
  height: 6px;
  position: absolute;
  background-color: #cccdd3;
  left: 0;
  top: 50%;
  margin-top: -3px;
  z-index: 1;
}
#bloc-etapes-cycle ul#etapes-cycle li.etape-cycle .bloc-num-etape:after {
  content: "";
  display: block;
  width: 50%;
  height: 6px;
  position: absolute;
  background-color: #cccdd3;
  right: 0;
  top: 50%;
  margin-top: -3px;
  z-index: 1;
}
.bloc-formulaire {
  position: relative;
}
.bloc-formulaire .part-form {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 40px 268px 40px 45px;
}
.bloc-formulaire .part-form .titre-part-form {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 0 75px;
  margin: 0;
  position: relative;
}
.bloc-formulaire .part-form .titre-part-form .picto-commande {
  display: block;
  width: 53px;
  height: 57px;
  background: url('../layoutImg/pictos-form/picto-commande.png') no-repeat center center;
  position: absolute;
  top: -10px;
  left: 0;
}
.bloc-formulaire .part-form .titre-part-form .picto-livraison {
  display: block;
  width: 60px;
  height: 48px;
  background: url('../layoutImg/pictos-form/picto-livraison.png') no-repeat center center;
  position: absolute;
  top: -10px;
  left: 0;
}
.bloc-formulaire .part-form .titre-part-form .picto-reglement {
  display: block;
  width: 54px;
  height: 47px;
  background: url('../layoutImg/pictos-form/picto-reglement.png') no-repeat center center;
  position: absolute;
  top: -10px;
  left: 0;
}
.bloc-formulaire .part-details {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 223px;
  height: auto;
  position: absolute;
  right: 2px;
  top: 2px;
  bottom: 2px;
  background-color: #f8f9fa;
  padding: 70px 20px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-bottomright: 10px;
  -moz-background-clip: padding;
  border-bottom-right-radius: 10px;
  background-clip: padding-box;
}
.detail-cycle {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 7px 0 0 30px;
  margin: 0 0 25px 0;
  font-family: 'lato-italic', sans-serif;
  font-weight: normal;
  font-size: 0.938em;
  text-rendering: optimizeLegibility;
  color: #2947a0;
  line-height: 1.2em;
  background: url('../layoutImg/check.png') no-repeat left top;
}
.detail-cycle .ville {
  font-family: 'lato-bold-italic', sans-serif;
  font-weight: normal;
  font-size: 1em;
  text-rendering: optimizeLegibility;
  color: #0c1a4c;
}
.detail-cycle ul.liste-detail-cycle {
  display: block;
  width: 100%;
  height: auto;
  margin: 10px 0 0 0;
  padding: 0;
  list-style-type: none;
}
.detail-cycle ul.liste-detail-cycle li {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0 8px 0 0;
}
.detail-cycle ul.liste-detail-cycle li .ic-cadenas {
  font-size: 1.5em;
}
.map-livraison {
  display: block;
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #ffffff;
  margin: 10px 0 0 0;
}
.supp-prix {
  font-family: 'lato-bold-italic', sans-serif;
  font-weight: normal;
  font-size: 0.75em;
  text-rendering: optimizeLegibility;
  color: #c34603;
  margin: 0 0 0 5px;
  text-align: right;
}
.supp-prix.margin-top {
  margin-top: 8px;
}
.supp-prix.block {
  display: block;
}
/* @end */
/* @group Ticket */
#ticket {
  display: block;
  width: 334px;
  height: auto;
  float: right;
}
#ticket #trou-ticket {
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
}
#ticket #trou-ticket:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #616161;
}
#ticket #trou-ticket:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #939394;
}
#ticket .prix-bas-ticket {
  font-family: 'Dancing Script', cursive;
  color: #fb8206;
  font-size: 1.2em;
  display: block;
  width: 120px;
  height: auto;
  position: absolute;
  top: 44px;
  right: -15px;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
  line-height: 0.8em;
}
#ticket .prix-bas-ticket .ic-sousligne:before {
  font-size: 3.5em;
  color: #fb8206;
  -webkit-transform: rotate(8.2deg);
  -moz-transform: rotate(8.2deg);
  -ms-transform: rotate(8.2deg);
  -o-transform: rotate(8.2deg);
  transform: rotate(8.2deg);
  position: absolute;
  top: 10px;
  left: 10px;
}
#ticket .prix-bas-ticket .decal {
  display: block;
}
#ticket #masque-ticket {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
#ticket #masque-ticket #body-ticket {
  display: block;
  width: 302px;
  height: auto;
  margin: 0 auto;
  padding: 0;
}
#ticket #masque-ticket #body-ticket #top-body-ticket {
  display: block;
  width: 100%;
  height: 12px;
  background-color: #ffffff;
  margin: 0 0 2px 8px;
  position: relative;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate(1.5deg);
  -moz-transform: rotate(1.5deg);
  -ms-transform: rotate(1.5deg);
  -o-transform: rotate(1.5deg);
  transform: rotate(1.5deg);
  margin-top: -20px;
}
#ticket #masque-ticket #body-ticket #top-body-ticket.ticket-here {
  margin-top: -4px;
}
#ticket #masque-ticket #body-ticket #top-body-ticket:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: url('../layoutImg/ticket/tirets-ticket.png') repeat-x left top;
  position: absolute;
  bottom: -2px;
  left: 0;
}
#ticket #masque-ticket #body-ticket #ticket-fixed {
  display: block;
  width: 302px;
  height: auto;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
}
#ticket #masque-ticket #body-ticket #ticket-fixed #content-ticket-fixed {
  -webkit-transform: rotate(1.5deg);
  -moz-transform: rotate(1.5deg);
  -ms-transform: rotate(1.5deg);
  -o-transform: rotate(1.5deg);
  transform: rotate(1.5deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
#ticket #masque-ticket #body-ticket #ticket-fixed #content-ticket-fixed #ombre-ticket-fixed {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 5px;
  bottom: -5px;
  left: -5px;
  background: #ededed;
  background: rgba(0, 0, 0, 0.07);
}
#ticket #masque-ticket #body-ticket #ticket-fixed #content-ticket-fixed #ombre-ticket-fixed:after {
  content: "";
  display: block;
  width: 100%;
  height: 7px;
  background: url('../layoutImg/ticket/bottom-ticket-ombre.png') repeat-x left top;
  position: absolute;
  bottom: -7px;
  left: 0;
}
#ticket #masque-ticket #body-ticket #ticket-fixed #content-ticket-fixed #content-bloc-ticket-fixed {
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}
#ticket #masque-ticket #body-ticket #ticket-fixed .trait-fin {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #1a2654;
}
#ticket #masque-ticket #body-ticket #ticket-fixed .trait-fin.dessus {
  margin: 0 0 1px 0;
}
#ticket #masque-ticket #body-ticket #ticket-fixed .trait-gras {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #1a2654;
}
#ticket #masque-ticket #body-ticket #ticket-fixed .trait-gras.dessus {
  margin: 0 0 1px 0;
}
#ticket #masque-ticket #body-ticket #ticket-fixed .traits-ticket-left {
  display: block;
  width: 112px;
  height: 4px;
  position: absolute;
  top: 33px;
  left: 16px;
}
#ticket #masque-ticket #body-ticket #ticket-fixed .traits-ticket-right {
  display: block;
  width: 90px;
  height: 4px;
  position: absolute;
  top: 33px;
  right: 0;
}
#ticket #masque-ticket #body-ticket #ticket-fixed .ic-camion {
  font-size: 25px;
  color: #1a2654;
  display: block;
  width: 19px;
  height: 25px;
  position: absolute;
  top: 24px;
  left: 138px;
}
#ticket #masque-ticket #body-ticket #ticket-fixed .padding-ticket {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0;
  background: #ffffff;
}
#ticket #masque-ticket #body-ticket #ticket-fixed .prix-ticket {
  font-family: 'lato', sans-serif;
  font-weight: normal;
  font-size: 3em;
  text-rendering: optimizeLegibility;
  display: inline-block;
  vertical-align: top;
  height: 50px;
  line-height: 50px;
}
#ticket #masque-ticket #body-ticket #ticket-fixed .devise-taxes {
  display: inline-block;
  vertical-align: top;
  padding: 8px 0 0 2px;
  text-align: left;
}
#ticket #masque-ticket #body-ticket #ticket-fixed .devise-taxes .devise {
  display: block;
  font-family: 'lato-bold', sans-serif;
  font-weight: normal;
  font-size: 1.875em;
  text-rendering: optimizeLegibility;
}
#ticket #masque-ticket #body-ticket #ticket-fixed .devise-taxes .taxes {
  display: block;
  font-family: 'lato-bold', sans-serif;
  font-weight: normal;
  font-size: 0.688em;
  text-rendering: optimizeLegibility;
}
#ticket #masque-ticket #body-ticket #ticket-fixed .indic-ticket {
  font-family: 'lato-italic', sans-serif;
  font-weight: normal;
  font-size: 0.813em;
  text-rendering: optimizeLegibility;
  color: #0c1a4c;
  text-align: right;
  position: relative;
  width: 130px;
}
#ticket #masque-ticket #body-ticket #ticket-fixed .indic-ticket strong {
  font-family: 'lato-bold', sans-serif;
  font-weight: normal;
  font-size: 1em;
  text-rendering: optimizeLegibility;
}
#ticket #masque-ticket #body-ticket #ticket-fixed .indic-ticket.gris {
  color: #9ca1b1;
}
#ticket #masque-ticket #body-ticket #ticket-fixed .indic-ticket .fond-blanc-pointilles {
  display: inline-block;
  vertical-align: top;
  background-color: #ffffff;
  position: relative;
}
#ticket #masque-ticket #body-ticket #ticket-fixed .pointilles-ticket {
  display: block;
  width: 100%;
  height: 2px;
  background: url('../layoutImg/ticket/pointilles-ticket.png') repeat-x left top;
  position: absolute;
  bottom: 4px;
  left: 0;
}
#ticket #masque-ticket #body-ticket #ticket-fixed .barre {
  position: relative;
  font-family: 'lato-bold', sans-serif;
  font-weight: normal;
  font-size: 1em;
  text-rendering: optimizeLegibility;
}
#ticket #masque-ticket #body-ticket #ticket-fixed .barre:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #0c1a4c;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  -ms-transform: rotate(-12deg);
  -o-transform: rotate(-12deg);
  transform: rotate(-12deg);
}
#ticket #masque-ticket #body-ticket #ticket-fixed #top-ticket-fixed {
  display: block;
  width: 100%;
  height: 53px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 45px 0 0;
  margin: 0;
  position: relative;
}
#ticket #masque-ticket #body-ticket #ticket-fixed #top-ticket-fixed #part-left-top-ticket-fixed {
  display: block;
  width: 100%;
  height: 100%;
  background: #ffffff;
  position: relative;
}
#ticket #masque-ticket #body-ticket #ticket-fixed #top-ticket-fixed #coin-ticket {
  display: block;
  width: 45px;
  height: 53px;
  background: url('../layoutImg/ticket/coin-ticket.png') no-repeat left top;
  position: absolute;
  top: 0;
  right: 0;
}
#ticket #masque-ticket #body-ticket #ticket-fixed #bloc-prix-ticket {
  color: #fb8206;
  padding-bottom: 10px;
}
#ticket #masque-ticket #body-ticket #ticket-fixed #bloc-details-ticket {
  padding-top: 10px;
  padding-bottom: 20px;
}
#ticket #masque-ticket #body-ticket #ticket-fixed #bloc-details-ticket ul.details-ticket {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
#ticket #masque-ticket #body-ticket #ticket-fixed #bloc-details-ticket ul.details-ticket li {
  display: block;
  margin: 0 0 10px 0;
}
#ticket #masque-ticket #body-ticket #ticket-fixed #bloc-details-ticket ul.details-ticket li.margin-bottom {
  margin: 0 0 25px 0;
}
#ticket #masque-ticket #body-ticket #ticket-fixed #bloc-details-ticket ul.details-ticket li .ligne-detail {
  position: relative;
}
#ticket #masque-ticket #body-ticket #ticket-fixed #bloc-details-ticket ul.details-ticket li .titre-detail {
  font-family: 'lato-italic', sans-serif;
  font-weight: normal;
  font-size: 0.938em;
  text-rendering: optimizeLegibility;
  color: #9ca1b1;
  display: inline-block;
  vertical-align: top;
  background-color: #ffffff;
  position: relative;
}
#ticket #masque-ticket #body-ticket #ticket-fixed #bloc-details-ticket ul.details-ticket li .texte-detail {
  font-family: 'lato-bold', sans-serif;
  font-weight: normal;
  font-size: 1.063em;
  text-rendering: optimizeLegibility;
  color: #2c355c;
  display: inline-block;
  vertical-align: top;
  background-color: #ffffff;
  position: relative;
}
#ticket #masque-ticket #body-ticket #ticket-fixed #bloc-total-ticket {
  display: block;
  width: 100%;
  height: auto;
  color: #1a2654;
  padding-top: 10px;
  padding-bottom: 10px;
}
#ticket #masque-ticket #body-ticket #ticket-fixed #bloc-total-ticket #total-ticket {
  text-transform: uppercase;
  padding: 10px 0 0 0;
  margin: 0;
  font-family: 'lato-bold', sans-serif;
  font-weight: normal;
  font-size: 1em;
  text-rendering: optimizeLegibility;
}
#ticket #masque-ticket #body-ticket #ticket-fixed #bloc-total-ticket #prix-total-ticket {
  text-align: right;
}
#ticket #masque-ticket #body-ticket #ticket-fixed #bottom-ticket-fixed {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  padding: 0 0 7px 0;
  position: relative;
}
#ticket #masque-ticket #body-ticket #ticket-fixed #bottom-ticket-fixed:after {
  content: "";
  display: block;
  width: 100%;
  height: 7px;
  background: url('../layoutImg/ticket/bottom-ticket.png') repeat-x left top;
  position: absolute;
  bottom: -7px;
  left: 0;
}
/* @end */
/* @group Responsive horizontal */
@media (max-width: 1250px) {
  #bloc-cycle {
    width: 68%;
  }
}
@media (max-width: 1200px) {
  #bloc-cycle {
    width: 65%;
  }
  #bloc-cycle h2 {
    font-size: 1.2em;
  }
  .bloc-formulaire .part-form {
    padding: 30px 198px 30px 35px;
  }
  .bloc-formulaire .part-details {
    width: 153px;
  }
  .detail-cycle {
    padding: 30px 0 0 0;
    font-size: 0.8em;
  }
}
@media (max-width: 1150px) {
  #bloc-cycle {
    width: 63%;
  }
  #bloc-cycle form.form-horizontal label.control-label {
    width: 105px;
  }
  #bloc-cycle form.form-horizontal .controls {
    margin: 0 0 0 120px;
  }
  #ticket #masque-ticket #body-ticket #top-body-ticket {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    margin-left: 0;
  }
  #ticket #masque-ticket #body-ticket #ticket-fixed #content-ticket-fixed {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@media (max-width: 1024px) {
  #bloc-cycle {
    width: 60%;
  }
  #bloc-cycle form.form-horizontal label.control-label {
    width: 85px;
  }
  #bloc-cycle form.form-horizontal .controls {
    margin: 0 0 0 100px;
  }
  .bloc-formulaire .part-form {
    padding: 30px 178px 30px 35px;
  }
  .bloc-formulaire .part-details {
    width: 133px;
  }
  #ticket {
    width: 284px;
  }
  #ticket #masque-ticket #body-ticket {
    width: 252px;
  }
  #ticket #masque-ticket #body-ticket #ticket-fixed {
    width: 252px;
  }
  #ticket #masque-ticket #body-ticket #ticket-fixed #bloc-details-ticket ul.details-ticket li .texte-detail {
    font-size: 0.85em;
  }
  #ticket #masque-ticket #body-ticket #ticket-fixed #bloc-prix-ticket {
    text-align: center;
  }
  #ticket #masque-ticket #body-ticket #ticket-fixed .prix-ticket {
    font-size: 2.5em;
  }
  #ticket .prix-bas-ticket {
    display: none;
  }
}
@media (max-width: 979px) {
  #bloc-cycle {
    width: 58%;
  }
  .bloc-formulaire .part-form {
    padding: 30px 35px 30px 35px;
  }
  .bloc-formulaire .part-details {
    display: none;
  }
  #bloc-etapes-cycle ul#etapes-cycle li.etape-cycle .bloc-titre-etape {
    padding: 12px 0;
    font-size: 0.85em;
  }
}
@media (max-width: 767px) {
  #bloc-cycle {
    width: 100%;
    float: none;
  }
  .bloc-formulaire .part-form {
    padding: 20px;
  }
  .bloc-formulaire .part-form .titre-part-form {
    padding: 0 0 0 65px;
  }
  #ticket {
    float: none;
    margin: 20px auto 40px auto;
  }
}
@media (max-width: 480px) {
  #bloc-etapes-cycle ul#etapes-cycle li.etape-cycle .bloc-titre-etape .titre-etape {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  #bloc-cycle form.form-horizontal label.control-label {
    width: auto;
  }
  #bloc-cycle form.form-horizontal .controls {
    margin: 0;
  }
}
/* @end */
