/* @group import */
/* @end */
/* @group Bloc commande inte */
#bloc-commande-inte {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  width: 430px;
  float: left;
}
/* @end */
/* @group Bloc content inte */
#bloc-content-inte {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  padding: 0 0 0 480px;
}
/* @end */
/* @group Responsive horizontal */
/* @end */
