/* @group import */

@import (reference) "lesshat-prefixed.less";
@import (reference) "couleurs-fonts.less";

/* @end */

/* @group Bloc cycle */

#bloc-cycle{
	display: block;
	.lh-box-sizing(border-box);
	margin: 0;
	width: 70%;
	float: left;
}

.bloc-btn-cycle{
	display: block;
	.lh-box-sizing(border-box);
	width: 100%;
	height: auto;
	padding: 0px 45px 40px 45px;
}

#bloc-etapes-cycle{
	ul#etapes-cycle{
		display: block;
		width: 100%;
		margin: 0 0 30px 0;
		padding: 0;
		li.etape-cycle{
			width: 25%;
			display: inline-block;
			vertical-align: top;
			text-align: center;
			margin: 0;
			padding: 0;
			&.active{
				.bloc-titre-etape{
					background-color: @bleuFioulReduc;
					color: @blanc;
					&:after{
						background-color: @bleuFioulReduc;
					}
				}
				.bloc-num-etape{
					.num-etape{
						background-color: @bleuFioulReduc;
					}
				}
			}
			.bloc-titre-etape{
				display: block;
				width: 90%;
				height: auto;
				margin: 0 auto 27px auto;
				padding: 12px;
				.lh-border-radius(3px);
				.lh-box-sizing(border-box);
				background-color: @blanc;
				color: #cccdd3;
				.lato(0.938em);
				position: relative;
				&:after{
					content: "";
					display: block;
					width: 2px;
					height: 18px;
					background-color: @blanc;
					position: absolute;
					bottom: -18px;
					left: 50%;
					margin-left: -1px;
				}
				.titre-etape{
					display: block;
					width: 100%;
					height: 100%;
					position: relative;
				}
			}
			.bloc-num-etape{
				display: block;
				text-align: center;
				width: 100%;
				height: 32px;
				position: relative;
				.num-etape{
					display: block;
					line-height: 32px;
					width: 32px;
					height: 100%;
					background-color: #cccdd3;
					color: @blanc;
					.lato(0.938em);
					.lh-border-radius(50%);
					margin: 0 auto;
					position: relative;
					z-index: 2;
				}
				&.first{
					&:before{
						display: none;
					}
				}
				&.last{
					&:after{
						display: none;
					}
				}
				&:before{
					content: "";
					display: block;
					width: 50%;
					height: 6px;
					position: absolute;
					background-color: #cccdd3;
					left: 0;
					top: 50%;
					margin-top: -3px;
					z-index: 1;
				}
				&:after{
					content: "";
					display: block;
					width: 50%;
					height: 6px;
					position: absolute;
					background-color: #cccdd3;
					right: 0;
					top: 50%;
					margin-top: -3px;
					z-index: 1;
				}
			}
		}
	}
}

.bloc-formulaire{
	position: relative;
	.part-form{
		display: block;
		.lh-box-sizing(border-box);
		width: 100%;
		margin: 0;
		padding: 40px 268px 40px 45px;
		
		display: table-cell;
		vertical-align: top;
		width: 73%;
		padding: 40px 45px 40px 45px;
		.titre-part-form{
			display: block;
			width: 100%;
			.lh-box-sizing(border-box);
			padding: 0 0 0 75px;
			margin: 0;
			position: relative;
			.picto-commande{
				display: block;
				width: 53px;
				height: 57px;
				background: url('../layoutImg/pictos-form/picto-commande.png') no-repeat center center;
				position: absolute;
				top: -10px;
				left: 0;
			}
			.picto-livraison{
				display: block;
				width: 60px;
				height: 48px;
				background: url('../layoutImg/pictos-form/picto-livraison.png') no-repeat center center;
				position: absolute;
				top: -10px;
				left: 0;
			}
			.picto-reglement{
				display: block;
				width: 54px;
				height: 47px;
				background: url('../layoutImg/pictos-form/picto-reglement.png') no-repeat center center;
				position: absolute;
				top: -10px;
				left: 0;
			}
		}
	}
	.part-details{
		display: inline-block;
		.lh-box-sizing(border-box);
		padding: 70px 20px;
		display: table-cell;
		vertical-align: top;
		width: 27%;
		position: relative;
		min-height:100%;
		height:auto !important;
		height:100%;
		background-color: #f8f9fa;
		.lh-border-top-right-radius(10px);
		.lh-border-bottom-right-radius(10px);
	}
}

.detail-cycle{
	display: block;
	width: 100%;
	.lh-box-sizing(border-box);
	padding: 7px 0 0 30px;
	margin: 0 0 25px 0;
	.lato-italic(0.938em);
	color: @bleuFioulReduc;
	line-height: 1.2em;
	background: url('../layoutImg/check.png') no-repeat left top;
	position: relative;
	&.optionnel{
		display: none;
		&.active{
			display: block;
		}
	}
	strong{
		.lato-bold-italic(1em);
	}
	.ville{
		.lato-bold-italic(1em);
		color: @bleuFonceFioulReduc;
	}
	ul.liste-detail-cycle{
		display: block;
		width: 100%;
		height: auto;
		margin: 10px 0 0 0;
		padding: 0;
		list-style-type: none;
		li{
			display: inline-block;
			vertical-align: middle;
			padding: 0;
			margin: 0 8px 0 0;
			.ic-cadenas{
				font-size: 1.5em;
			}
		}
	}
}

.map-livraison{
	display: block;
	width: 100%;
	height: auto;
	.lh-box-sizing(border-box);
	border: 3px solid @blanc;
	margin: 10px 0 0 0;
}

.supp-prix{
	.lato-bold-italic(0.75em);
	color: #c34603;
	margin: 0 0 0 5px;
	text-align: right;
	&.margin-top{
		margin-top: 8px;
	}
	&.block{
		display: block;
	}
}
.echeancier{
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	.echeances{
		display: block;
		width: 100%;
		height: auto;
		padding: 4px 0;
		margin: 0 0 4px 0;
		border-top: 1px solid #a3a4ad;
		border-bottom: 1px solid #a3a4ad;
		.echeance{
			display: block;
			position: relative;
			width: 100%;
			height: auto;
			margin: 0;
			padding: 0;
			.echeancier-date{
				background-color: #f8f9fa;
				position: relative;
				color: #9d9ea8;
				.lato(0.75em);
			}
			.echeancier-prix{
				background-color: #f8f9fa;
				position: relative;
				color: @bleuFioulReduc;
				.lato-bold-italic(0.938em);
			}
		}
	}
	.indic-echeance{
		display: block;
		width: 100%;
		height: auto;
		text-align: right;
		.lato(0.625em);
		color: #9d9ea8;
		strong{
			.lato(1em);
			color: @bleuFioulReduc;
		}
	}
	.pointilles {
		display: block;
		width: 100%;
		height: 2px;
		background: url('../layoutImg/ticket/pointilles-ticket.png') repeat-x left top;
		position: absolute;
		bottom: 4px;
		left: 0;
	}
	.total{
		display: block;
		width: 100%;
		height: auto;
		.echeancier-total{
			color: #9d9ea8;
			.lato(0.75em);
		}
		.echeancier-total-prix{
			color: @bleuFioulReduc;
			.lato-bold-italic(1.125em);
		}
	}
}
.assurance{
	display: block;
	width: 100%;
	height: auto;
	margin: 15px 0;
	.assurance-txt{
		display: inline-block;
		vertical-align: top;
		.lato-italic(0.688em);
		color: #9d9ea8;
		margin: 0 10px 0 0;
	}
	.assurance-logo{
		display: inline-block;
		vertical-align: top;
	}
}

ul#cuves{
	display: block;
	width: 100%;
	height: auto;
	margin: 40px 0 0 0;
	padding: 0;
	list-style-type: none;
	li.cuve{
		display: inline-block;
		vertical-align: top;
		width: 50%;
		.lh-box-sizing(border-box);
		margin: 15px 0;
		padding: 0 5px;
		height: 192px;
		&.add-cuve{
			a{
				display: block;
				width: 100%;
				height: 100%;
				.lh-box-sizing(border-box);
				border: 1px dashed @orangeFioulReduc;
				.lh-border-radius(5px);
				position: relative;
				margin: 0;
				padding: 0;
				.txt-add-cuve{
					display: block;
					width: 100%;
					height: 58px;
					.lato(0.875em);
					color: @orangeFioulReduc;
					position: absolute;
					top: 50%;
					margin-top: -29px;
					left: 0;
					text-align: center;
					.txt{
						border-bottom: 1px solid @orangeFioulReduc;
					}
					.ic-plus{
						display: block;
						font-size: 40px;
					}
				}
			}
		}
		.header-cuve{
			display: block;
			width: 100%;
			height: auto;
			margin: 0;
			padding: 10px 0;
			text-align: center;
			color: @blanc;
			background-color: @bleuFioulReduc;
			.lh-border-radius(~"5px 5px 0 0");
			position: relative;
			.lato-bold(0.75em);
			text-transform: uppercase;
			letter-spacing: 1px;
			.picto-cuve{
				display: block;
				width: 55px;
				height: 47px;
				position: absolute;
				top: -20px;
				left: -3px;
				background: url('../layoutImg/picto-cuve.png') no-repeat left top;
			}
			.num-cuve{
				display: block;
				width: 20px;
				height: 20px;
				color: @orangeFioulReduc;
				text-align: center;
				line-height: 20px;
				position: absolute;
				top: -5px;
				left: 4px;
			}
		}
		.body-cuve{
			display: block;
			width: 100%;
			margin: 0;
			.lh-box-sizing(border-box);
			.lh-border-radius(~"0 0 5px 5px");
			padding: 20px 15px;
			background-color: #f8f9fa;
			.control-label{
				width: 67px;
			}
			.controls{
				margin: 0 0 0 80px;
				.taille1{
					width: 85px;
				}
				.taille2{
					width: 135px;
				}
			}
		}
	}
}

/* @end */

/* @group Ticket */

#ticket{
	display: block;
	width: 334px;
	height: auto;
	float: right;
	#trou-ticket{
		display: block;
		width: 100%;
		height: 1px;
		position: relative;
		&:before{
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			position: absolute;
			top: 0;
			left: 0;
			background-color: #616161;
		}
		&:after{
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			position: absolute;
			bottom: -1px;
			left: 0;
			background-color: #939394;
		}
	}
	.prix-bas-ticket{
		font-family: 'Dancing Script', cursive;
		color: @orangeFioulReduc;
		font-size: 1.2em;
		display: block;
		width: 120px;
		height: auto;
		position: absolute;
		top: 44px;
		right: -15px;
		.lh-rotate(-15deg);
		line-height: 0.8em;
		.ic-sousligne{
			&:before{
				font-size: 3.5em;
				color: @orangeFioulReduc;
				.lh-rotate(8.2deg);
				position: absolute;
				top: 10px;
				left: 10px;
			}
		}
		.decal{
			display: block;
		}
	}
	#masque-ticket{
		display: block;
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
		.lh-backface-visibility(hidden);
		#body-ticket{
			display: block;
			width: 302px;
			height: auto;
			margin: 0 auto;
			padding: 0;
			#top-body-ticket{
				display: block;
				width: 100%;
				height: 12px;
				background-color: @blanc;
				margin: 0 0 2px 8px;
				position: relative;
				.lh-backface-visibility(hidden);
				.lh-rotate(1.5deg);
				margin-top: -20px;
				&.ticket-here{
					margin-top: -4px;
				}
				&:after{
					content: "";
					display: block;
					width: 100%;
					height: 2px;
					background: url('../layoutImg/ticket/tirets-ticket.png') repeat-x left top;
					position: absolute;
					bottom: -2px;
					left: 0;
				}
			}
			#ticket-fixed{
				display: block;
				width: 302px;
				height: auto;
				.lh-translateZ(0);
				.lh-backface-visibility(hidden);
				position: relative;
				#content-ticket-fixed{
					.lh-rotate(1.5deg);
					.lh-backface-visibility(hidden);
					.lh-transform-origin(50%  51%);
					#ombre-ticket-fixed{
						display: block;
						width: 100%;
						height: auto;
						position: absolute;
						top: 5px;
						bottom: -5px;
						left: -5px;
						background: #ededed;
						background: rgba(0,0,0,.07);
						&:after{
							content: "";
							display: block;
							width: 100%;
							height: 7px;
							background: url('../layoutImg/ticket/bottom-ticket-ombre.png') repeat-x left top;
							position: absolute;
							bottom: -7px;
							left: 0;
						}
					}
					#content-bloc-ticket-fixed{
						.lh-transform-origin(0 0);
					}
				}
				
				.traits-ticket-left{
					display: block;
					width: 112px;
					height: 4px;
					position: absolute;
					top: 33px;
					left: 16px;
				}
				.traits-ticket-right{
					display: block;
					width: 90px;
					height: 4px;
					position: absolute;
					top: 33px;
					right: 0;
				}
				.ic-camion{
					display: block;
					font-size: 25px;
					color: #1a2654;
					display: block;
					width: 19px;
					height: 25px;
					position: absolute;
					top: 24px;
					left: 138px;
				}
				.padding-ticket{
					display: block;
					width: 100%;
					.lh-box-sizing(border-box);
					position: relative;
					padding-left: 16px;
					padding-right: 16px;
					margin: 0;
					background: @blanc;
				}
				.margin-negatif-top{
					padding-top: 1px;
					margin-top: -1px;
				}
				.prix-ticket{
					.lato(3em);
					display: inline-block;
					vertical-align: top;
					height: 50px;
					line-height: 50px;
				}
				.devise-taxes{
					display: inline-block;
					vertical-align: top;
					padding: 8px 0 0 2px;
					text-align: left;
					.devise{
						display: block;
						.lato-bold(1.875em);
					}
					.taxes{
						display: block;
						.lato-bold(0.688em);
					}
				}
				.indic-ticket{
					.lato-italic(0.813em);
					color: #0c1a4c;
					text-align: right;
					position: relative;
					width: 130px;
					strong{
						.lato-bold(1em);
					}
					&.gris{
						color: #9ca1b1;
					}
					.fond-blanc-pointilles{
						display: inline-block;
						vertical-align: top;
						background-color: @blanc;
						position: relative;
					}
				}
				.pointilles-ticket{
					display: block;
					width: 100%;
					height: 2px;
					background: url('../layoutImg/ticket/pointilles-ticket.png') repeat-x left top;
					position: absolute;
					bottom: 4px;
					left: 0;
				}
				.barre{
					position: relative;
					.lato-bold(1em);
					&:after{
						content: "";
						display: block;
						width: 100%;
						height: 1px;
						background-color: #0c1a4c;
						position: absolute;
						top: 50%;
						left: 0;
						.lh-rotate(-12deg);
					}
				}
				#top-ticket-fixed{
					display: block;
					width: 100%;
					height: 53px;
					.lh-box-sizing(border-box);
					padding: 0 45px 0 0;
					margin: 0;
					position: relative;
					#part-left-top-ticket-fixed{
						display: block;
						width: 100%;
						height: 100%;
						background: @blanc;
						position: relative;
					}
					#coin-ticket{
						display: block;
						width: 45px;
						height: 53px;
						background: url('../layoutImg/ticket/coin-ticket.png') no-repeat left top;
						position: absolute;
						top: 0;
						right: 0;
					}
				}
				#bloc-prix-ticket{
					color: @orangeFioulReduc;
					padding-bottom: 10px;
				}
				#overflow-cuves{
					display: block;
					margin: 5px 0 0 0;
					display: none;
				}
				ul#cuves-ticket{
					display: block;
					width: 100%;
					height: 40px;
					margin: 10px 0 0 0;
					padding: 0;
					position: relative;
					list-style-type: none;
					overflow: hidden;
					&.open{
						height: auto;
					}
					li.cuve-ticket{
						display: block;
						margin: 0;
						padding: 0;
						position: relative;
						.titre-cuve-ticket{
							.lato-bold(0.8em);
							color: #9ca1b1;
							display: inline-block;
							vertical-align: top;
							background-color: @blanc;
							position: relative;
							white-space:nowrap;
						}
						.texte-cuve-ticket{
							.lato-bold(0.8em);
							color: #2c355c;
							display: inline-block;
							vertical-align: top;
							background-color: @blanc;
							position: relative;
						}
					}
				}
				#bloc-details-ticket{
					padding-top: 10px;
					padding-bottom: 20px;
					ul.details-ticket{
						display: block;
						width: 100%;
						height: auto;
						margin: 0;
						padding: 0;
						list-style-type: none;
						position: relative;
						li{
							display: block;
							margin: 0 0 10px 0;
							&.margin-bottom{
								margin: 0 0 25px 0;
							}
							.ligne-detail{
								position: relative;
							
							}
							.titre-detail{
								.lato-italic(0.938em);
								color: #9ca1b1;
								display: inline-block;
								vertical-align: top;
								background-color: @blanc;
								position: relative;
							}
							.texte-detail{
								.lato-bold(1.063em);
								color: #2c355c;
								display: inline-block;
								vertical-align: top;
								background-color: @blanc;
								position: relative;
							}
						}
					}
				}
				#bloc-total-ticket{
					display: block;
					width: 100%;
					height: auto;
					color: #1a2654;
					padding-top: 10px;
					padding-bottom: 10px;
					#total-ticket{
						text-transform: uppercase;
						padding: 10px 0 0 0;
						margin: 0;
						.lato-bold(1em);
					}
					#prix-total-ticket{
						text-align: right;
					}
				}
				#bottom-ticket-fixed{
					display: block;
					width: 100%;
					height: 40px;
					background-color: @blanc;
					padding: 0 0 7px 0;
					position: relative;
					&:after{
						content: "";
						display: block;
						width: 100%;
						height: 7px;
						background: url('../layoutImg/ticket/bottom-ticket.png') repeat-x left top;
						position: absolute;
						bottom: -7px;
						left: 0;
					}
					
				}
			}
			
		}
	}
}

#code-reduction{
	.lato-italic(1em);
	color: @bleuFioulReduc;
	a.btn.btn-link.btn-moins {
		display: inline-block;
		vertical-align: top;
		height: 32px;
		line-height: 32px;
		.ic-moins{
			top: 50%;
			margin-top: -9px;
		}
	}
	.txt-code-reduction{
		margin-right: 10px;
	}
}

/* @end */

/* @group Responsive horizontal */

@media (max-width: 1250px) {
	#bloc-cycle {
		width: 68%;
	}
}

@media (max-width: 1200px) {
	#bloc-cycle {
		width: 65%;
		h2 {
			font-size: 1.2em;
		}
	}
	.bloc-formulaire{
		.part-form {
		padding: 30px;
		}
		.part-details {
			width: 153px;
		}
	}
	.detail-cycle {
		padding: 30px 0 0 0;
		font-size: 0.8em;
	}
	.bloc-btn-cycle{
		padding: 0px 35px 30px 35px;
	}
	
}

@media (max-width: 1150px) {
	#bloc-cycle {
		width: 63%;
		form.form-horizontal label.control-label {
			width: 105px;
		}
		form.form-horizontal .controls {
			margin: 0 0 0 120px;
		}
	}
	#ticket{
		#masque-ticket{
			#body-ticket{
				 #top-body-ticket{
				 	.lh-rotate(0deg);
				 	margin-left: 0;
				 }
				#ticket-fixed{
					#content-ticket-fixed{
						.lh-rotate(0deg);
					}	
				}	
			}	
		}	
	}
}

@media (max-width: 1024px) {
	#bloc-cycle {
		width: 60%;
		form.form-horizontal label.control-label {
			width: 85px;
		}
		form.form-horizontal .controls {
			margin: 0 0 0 100px;
		}
	}
	.bloc-formulaire{
		.part-form {
			padding: 25px;
		}
		.part-details {
			width: 133px;
		}
	}
	#ticket {
		width: 284px;
		#masque-ticket{
			#body-ticket {
				width: 252px;
				#ticket-fixed {
					width: 252px;
					#bloc-details-ticket{
						ul.details-ticket{
							li{
								.texte-detail {
									font-size: 0.85em;
								}
							}
						}
					}
					#bloc-prix-ticket{
						text-align: center;
					}
					.prix-ticket {
						font-size: 2.5em;
					}
				}
			}
		}
		.prix-bas-ticket {
			display: none;
		}
	}
}

@media (max-width: 979px) {
	#bloc-cycle {
		width: 58%;
	}
	.bloc-formulaire{
		.part-form {
			padding: 28px;
		}
		.part-details {
			display: none;
		}
	}
	#bloc-etapes-cycle{
		ul#etapes-cycle{
			li.etape-cycle{
				.bloc-titre-etape{
					padding: 12px 0;
					font-size: 0.85em;
				}	
			}
		}	
	}
}

@media (max-width: 767px) {
	#bloc-cycle {
		width: 100%;
		float: none;
	}
	.bloc-formulaire{
		.part-form {
			padding: 20px;
			.titre-part-form {
				padding: 0 0 0 65px;
			}
		}	
	}
	#ticket{
		float: none;
		margin: 20px auto 40px auto;
	}
	.bloc-btn-cycle{
		padding: 0 20px 20px 20px;
	}
}

@media (max-width: 480px) {
	#bloc-etapes-cycle{
		ul#etapes-cycle{
			li.etape-cycle{
				.bloc-titre-etape{
					.titre-etape{
						-o-text-overflow: ellipsis;
						text-overflow: ellipsis;
						overflow: hidden;
					}
				}
			}
		}	
	}
	#bloc-cycle{
		form.form-horizontal{
			label.control-label {
				width: auto;
			}
			.controls {
				margin: 0;
			}	
		}
	}
}

/* @end */