/* @group import */

@import (reference) "lesshat-prefixed.less";
@import (reference) "couleurs-fonts.less";

/* @end */

/* @group Bloc commande inte */

#bloc-commande-inte{
	display: block;
	position: absolute;
	top: 0;
	bottom: 30px;
	left: 0;
	.lh-box-sizing(border-box);
	margin: 0;
	width: 430px;
	.bloc-blanc-ombre{
		padding: 20px 40px;
		h2{
			width: 73%;
		}
	}
	#bloc-commande-inte-fixed{
		width: 430px;
	}
}

/* @end */

/* @group Bloc content inte */

#bloc-content-inte{
	display: block;
	.lh-box-sizing(border-box);
	margin: 0;
	width: 100%;
	padding: 0 0 0 480px;
	.btn{
		font-size: 1em;
	}
}

.bloc-gauche-map{
	display: inline-block;
	vertical-align: top;
	width: 70%;
	height: auto;
	.lh-box-sizing(border-box);
	padding: 30px 0 0 0;
}

.bloc-droite-map{
	display: block;
	width: 30%;
	height: auto;
	display: inline-block;
	vertical-align: top;
	padding: 60px 0 0 0;
	.zone-map{
		.lato-bold(1.375em);
		color: @bleuFioulReduc;
		margin: 0 0 15px 0;
	}
	.date-map{
		display: block;
		padding: 2px 0 1px 0;
		.lato(0.7em);
		color: @blanc;
		background-color: @orangeFioulReduc;
		text-transform: uppercase;
		text-align: center;
		.lh-border-radius(3px 3px 0 0);
	}
	ul.liste-prix-mille{
		display: block;
		width: 100%;
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			display: block;
			width: 100%;
			padding: 10px 0;
			margin: 0;
			text-align: center;
			border-bottom: 1px solid #898e9f;
			.prix-mille{
				.lato-bold(1.375em);
				color: @bleuFonceFioulReduc;
				margin: 0 0 2px 0;
				line-height: 1em;
				strong{
					.lato-bold(1.364em);
				}
			}
			.prix-mille-desc{
				.lato-bold(0.688em);
				color: #898e9f;
			}
				
		}
	}
	
	.zone-prix-map{
		display: block;
		width: 100%;
		margin: 10px 0 0 0;
		padding: 0 16px;
		.lh-box-sizing(border-box);
		.lato-bold(0.688em);
		.prix-max-map{
			color: #ee5702;
			display: block;
			height: 34px;
			.lh-box-sizing(border-box);
			padding: 0 0 0 20px;
			position: relative;
			&:before{
				content: "";
				display: block;
				width: 10px;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background-color: #ee5702;
				.lh-border-radius(5px 5px 0 0);
			}
		}
		.prix-moy-map{
			color: #f88b02;
			display: block;
			height: 34px;
			.lh-box-sizing(border-box);
			padding: 10px 0 0 20px;
			position: relative;
			&:before{
				content: "";
				display: block;
				width: 10px;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background-color: #f88b02;
			}
		}
		.prix-min-map{
			color: #ffd63a;
			display: block;
			height: 34px;
			.lh-box-sizing(border-box);
			padding: 18px 0 0 20px;
			position: relative;
			&:before{
				content: "";
				display: block;
				width: 10px;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background-color: #ffd63a;
				.lh-border-radius(0 0 5px 5px);
			}
		}
	}
}

.connaitre-prix-fioul{
	display: block;
	margin: 40px 0 10px 0;
	padding: 0 0 0 120px;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100px;
	.lh-box-sizing(border-box);
	&:before{
		content: "";
		display: inline-block;
		vertical-align: top;
		width: 94px;
		height: 29px;
		background: url('../layoutImg/arrow-courbe.png') no-repeat center center;
		position: absolute;
		top: 50%;
		margin-top: -15px;
		left: 0;
	}
	p{
		display: inline-block;
		vertical-align: top;
		font-family: 'Dancing Script', cursive;
		font-size: 1.563em;
		line-height: 1.1em;
		.lh-rotate(-3deg);
		color: #f88b02;
	}
}

/* @end */

/* @group Slider Graph */
#slider-graph-inte-container{
	.lh-border-radius(3px);
	height: 16px;
	background: none;
	.lh-box-sizing(border-box);
	border: 1px solid #9cabc6;
	.lh-background-image(~"linear-gradient(bottom, rgba(255,255,255,.05) 0%, rgba(0,0,0,.05) 100%)");
	position: relative;
	//padding: 0 9%;
	padding: 0 11%;
	.ui-slider{
		background: none;
		border: none;
		height: 100%;
		width: 100%;
		.lh-box-sizing(border-box);
		.ui-slider-handle{
			width: 20%;
			margin-left: -10%;
			height: 8px;
			top: 50%;
			margin-top: -4px;
			.lh-box-sizing(border-box);
			border: none;
			background: @orangeFioulReduc;
			.lh-border-bottom-right-radius(4px);
			cursor: pointer;
			.lh-transition(background-color 0.2s ease-in-out);
			&:hover{
				background: @orange2FioulReduc;
			}
			&:focus{
				//background: @jauneFioulReduc;*/
				outline: none;
			}
		}
	}
	.ui-slider-range{
		background: none;
	}
	a.btn-slider-graph-inte{
		display: block;
		width: 22px;
		height: 22px;
		.lh-border-radius(50%);
		background-color: @orangeFioulReduc;
		position: absolute;
		top: -4px;
		.lh-box-shadow(~"2px 0 0 #112d6f, inset 1px 0 0 rgba(255,158,64,.75)");
		text-align: center;
		line-height: 22px;
		.lato(1.2em);
		text-shadow: 1px 0 0 rgba(255,255,255,.34);
		color: #051232;
		z-index: 3;
		.lh-transition(background-color 0.2s ease-in-out);
		&.btn-moins{
			left: -4px;
		}
		&.btn-plus{
			right: -4px;
		}
		&:hover{
			text-decoration: none;
			background-color: @orange2FioulReduc;
		}
	}
}

.zone-slider-graph-inte{
	position: relative;
	#select-graph-inte{
		/* SELECT QUI CONTIENT LA VALEUR DE PÉRIODE SELECTIONNEE */
		position: absolute;
		top: 0;
		left: 0;
		.lh-opacity(0);
		pointer-events: none;
	}
	.bloc-gauche-zone-slider-graph-inte{
		display: inline-block;
		vertical-align: top;
		width: 10%;
		text-align: right;
		.lato-italic(1.125em);
	}
	.bloc-droite-zone-slider-graph-inte{
		display: inline-block;
		vertical-align: top;
		width: 90%;
		.lh-box-sizing(border-box);
		padding: 3px 0 0 30px;
	}
}

.container-intitules-slider-graph{
	display: block;
	width: 100%;
	.lh-box-sizing(border-box);
	padding: 0 8px;
	margin: 0;
	ul.intitules-slider-graph{
		display: block;
		width: 100%;
		list-style: none;
		margin: 15px 0 0 0;
		padding: 0;
		li{
			display: inline-block;
			vertical-align: top;
			.lh-box-sizing(border-box);
			width: 20%;
			text-align: center;
			padding: 3px 0;
			border-left: 1px solid #8596b8;
			.lato-light-italic(0.938em);
			color: #adcce7;
			position: relative;
			&:before{
				content: "";
				display: block;
				width: 100%;
				height: 4px;
				border-left: 1px solid #8596b8;
				position: absolute;
				.lh-box-sizing(border-box);
				margin: 0;
				padding: 0;
				left: -1px;
				top: -25px;
			}
			&.last{
				border-right: 1px solid #8596b8;
			}
		}
	}
}

/* @end */

/* @group Responsive horizontal */

@media (max-width: 1250px) {

}

@media (max-width: 1200px) {
	#bloc-commande-inte{
		width: 400px;
		#bloc-commande-inte-fixed{
			width: 400px;
		}
		form.form-horizontal{
			.controls {
				margin: 0 0 0 135px;
			}
		}
		.taille2 {
			width: 100%;
			.error &{
				width: 95%;
			}
		}
		.bloc-blanc-ombre{
			h2{
				width: 100%;
			}
		}
		.prix-bas{
			display: none;
		}
	}
	#bloc-content-inte{
		padding: 0 0 0 440px;
	}
}

@media (max-width: 1150px) {
	#bloc-commande-inte{
		width: 380px;
		#bloc-commande-inte-fixed{
			width: 380px;
		}
	}
	#bloc-content-inte{
		padding: 0 0 0 420px;
	}
}

@media (max-width: 1024px) {
	#bloc-commande-inte{
		width: 360px;
		#bloc-commande-inte-fixed{
			width: 360px;
		}
	}
	#bloc-content-inte{
		padding: 0 0 0 400px;
	}
}

@media (max-width: 979px) {
	#bloc-commande-inte{
		width: 430px;
		margin: 0 auto;
		position: relative;
		top: inherit;
		bottom: inherit;
		left: inherit;
		#bloc-commande-inte-fixed{
			width: 430px;
		}
	}
	#bloc-content-inte{
		padding: 0;
	}
	.connaitre-prix-fioul{
		display: none;
	}
}

@media (max-width: 767px) {

}

@media (max-width: 480px) {
	#bloc-commande-inte{
		width: 100%;
		margin: 0 auto;
		#bloc-commande-inte-fixed{
			width: 100%;
		}
		form.form-horizontal{
			.controls {
				margin: 0;
			}
		} 
	}
}

/* @end */