/* @group import */

@import (reference) "lesshat-prefixed.less";
@import (reference) "couleurs-fonts.less";

/* @end */

/* @group Bloc commande inte */

#bloc-commande-inte{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	.lh-box-sizing(border-box);
	margin: 0;
	width: 430px;
	.bloc-blanc-ombre{
		padding: 20px 40px;
		h2{
			width: 73%;
		}
	}
}

/* @end */

/* @group Bloc content inte */

#bloc-content-inte{
	display: block;
	.lh-box-sizing(border-box);
	margin: 0;
	width: 100%;
	padding: 0 0 0 480px;
}

/* @end */

/* @group Responsive horizontal */

@media (max-width: 1250px) {

}

@media (max-width: 1200px) {
	#bloc-commande-inte{
		width: 400px;
		form.form-horizontal{
			.controls {
				margin: 0 0 0 135px;
			}
		}
		.taille2 {
			width: 100%;
		}
		.bloc-blanc-ombre{
			h2{
				width: 100%;
			}
		}
		.prix-bas{
			display: none;
		}
	}
	#bloc-content-inte{
		padding: 0 0 0 440px;
	}
}

@media (max-width: 1150px) {
	#bloc-commande-inte{
		width: 380px;
	}
	#bloc-content-inte{
		padding: 0 0 0 420px;
	}
}

@media (max-width: 1024px) {
	#bloc-commande-inte{
		width: 360px;
	}
	#bloc-content-inte{
		padding: 0 0 0 400px;
	}
}

@media (max-width: 979px) {
	#bloc-commande-inte{
		width: 430px;
		margin: 0 auto;
		position: relative;
		top: inherit;
		left: inherit;
	}
	#bloc-content-inte{
		padding: 0;
	}
}

@media (max-width: 767px) {

}

@media (max-width: 480px) {
	#bloc-commande-inte{
		width: 100%;
		margin: 0 auto;
	}
}

/* @end */